JavaAdvanced05/.settings/org.eclipse.core.resources.prefs
JavaAdvanced05/.settings/org.eclipse.jdt.core.prefs
JavaAdvanced05/.settings/org.eclipse.m2e.core.prefs
JavaAdvanced05/.classpath
JavaAdvanced05/.gitignore
JavaAdvanced05/.project
JavaAdvanced05/src/main/java/magazine_shop.sql
