JavaAdvanced05/.settings/org.eclipse.core.resources.prefs
JavaAdvanced05/.settings/org.eclipse.jdt.core.prefs
JavaAdvanced05/.settings/org.eclipse.m2e.core.prefs
JavaAdvanced05/.classpath
JavaAdvanced05/.gitignore
JavaAdvanced05/.project
JavaAdvanced05/src/main/java/magazine_shop.sql
JavaAdvansed_06/.classpath
JavaAdvansed_06/.project
JavaAdvansed_06/.settings/.jsdtscope
JavaAdvansed_06/.settings/org.eclipse.core.resources.prefs
JavaAdvansed_06/.settings/org.eclipse.jdt.apt.core.prefs
JavaAdvansed_06/.settings/org.eclipse.jdt.core.prefs
JavaAdvansed_06/.settings/org.eclipse.m2e.core.prefs
JavaAdvansed_06/.settings/org.eclipse.wst.common.component
JavaAdvansed_06/.settings/org.eclipse.wst.common.project.facet.core.xml
JavaAdvansed_06/.settings/org.eclipse.wst.jsdt.ui.superType.container
JavaAdvansed_06/.settings/org.eclipse.wst.jsdt.ui.superType.name
JavaAdvansed_06/.settings/org.eclipse.wst.validation.prefs
JavaAdvansed_06/target/JavaAdvansed_06.war
JavaAdvansed_06/target/classes/magazine_shop.sql
JavaAdvansed_06/target/classes/ua/lviv/lgs/application/Application.class
JavaAdvansed_06/target/classes/ua/lviv/lgs/dao/MagazineDao.class
JavaAdvansed_06/target/classes/ua/lviv/lgs/dao/SubscribeDao.class
JavaAdvansed_06/target/classes/ua/lviv/lgs/dao/UserDao.class
JavaAdvansed_06/target/classes/ua/lviv/lgs/dao/impl/MagazineDaoImpl.class
JavaAdvansed_06/target/classes/ua/lviv/lgs/dao/impl/SubscribeDaoImpl.class
JavaAdvansed_06/target/classes/ua/lviv/lgs/dao/impl/UserDaoImpl.class
JavaAdvansed_06/target/classes/ua/lviv/lgs/domain/Magazine.class
JavaAdvansed_06/target/classes/ua/lviv/lgs/domain/Subscribe.class
JavaAdvansed_06/target/classes/ua/lviv/lgs/domain/User.class
JavaAdvansed_06/target/classes/ua/lviv/lgs/domain/UserRole.class
JavaAdvansed_06/target/classes/ua/lviv/lgs/service/MagazineService.class
JavaAdvansed_06/target/classes/ua/lviv/lgs/service/SubscribeService.class
JavaAdvansed_06/target/classes/ua/lviv/lgs/service/UserService.class
JavaAdvansed_06/target/classes/ua/lviv/lgs/service/impl/MagazineServiceImpl.class
JavaAdvansed_06/target/classes/ua/lviv/lgs/service/impl/SubscribeServiceImpl.class
JavaAdvansed_06/target/classes/ua/lviv/lgs/service/impl/UserServiceImpl.class
JavaAdvansed_06/target/classes/ua/lviv/lgs/servlet/LoginServlet.class
JavaAdvansed_06/target/classes/ua/lviv/lgs/servlet/RegistrationServlet.class
JavaAdvansed_06/target/classes/ua/lviv/lgs/shared/AbstractCRUD.class
JavaAdvansed_06/target/classes/ua/lviv/lgs/utils/ConnectionUtils.class
JavaAdvansed_06/target/JavaAdvansed_06/cabinet.jsp
JavaAdvansed_06/target/JavaAdvansed_06/footer.jsp
JavaAdvansed_06/target/JavaAdvansed_06/header.jsp
JavaAdvansed_06/target/JavaAdvansed_06/index.jsp
JavaAdvansed_06/target/JavaAdvansed_06/login.jsp
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/web.xml
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/classes/ua/lviv/lgs/application/Application.class
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/classes/ua/lviv/lgs/dao/MagazineDao.class
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/classes/ua/lviv/lgs/dao/SubscribeDao.class
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/classes/ua/lviv/lgs/dao/UserDao.class
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/classes/ua/lviv/lgs/dao/impl/MagazineDaoImpl.class
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/classes/ua/lviv/lgs/dao/impl/SubscribeDaoImpl.class
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/classes/ua/lviv/lgs/dao/impl/UserDaoImpl.class
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/classes/ua/lviv/lgs/domain/Magazine.class
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/classes/ua/lviv/lgs/domain/Subscribe.class
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/classes/ua/lviv/lgs/domain/User.class
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/classes/ua/lviv/lgs/domain/UserRole.class
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/classes/ua/lviv/lgs/service/MagazineService.class
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/classes/ua/lviv/lgs/service/SubscribeService.class
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/classes/ua/lviv/lgs/service/UserService.class
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/classes/ua/lviv/lgs/service/impl/MagazineServiceImpl.class
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/classes/ua/lviv/lgs/service/impl/SubscribeServiceImpl.class
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/classes/ua/lviv/lgs/service/impl/UserServiceImpl.class
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/classes/ua/lviv/lgs/servlet/LoginServlet.class
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/classes/ua/lviv/lgs/servlet/RegistrationServlet.class
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/classes/ua/lviv/lgs/shared/AbstractCRUD.class
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/classes/ua/lviv/lgs/utils/ConnectionUtils.class
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/lib/jstl-1.2.jar
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/lib/log4j-1.2.17.jar
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/lib/mysql-connector-java-8.0.13.jar
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/lib/protobuf-java-3.6.1.jar
JavaAdvansed_06/target/JavaAdvansed_06/WEB-INF/lib/standard-1.1.2.jar
JavaAdvansed_06/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
JavaAdvansed_06/target/m2e-wtp/web-resources/META-INF/maven/JavaAdvansed_06/JavaAdvansed_06/pom.properties
JavaAdvansed_06/target/m2e-wtp/web-resources/META-INF/maven/JavaAdvansed_06/JavaAdvansed_06/pom.xml
JavaAdvansed_06/target/maven-archiver/pom.properties
JavaAdvansed_06/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
JavaAdvansed_06/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
JavaAdvansed_06/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
JavaAdvansed_07/.classpath
JavaAdvansed_07/.project
JavaAdvansed_07/magazine_shop.sql
JavaAdvansed_07/.settings/.jsdtscope
JavaAdvansed_07/.settings/org.eclipse.core.resources.prefs
JavaAdvansed_07/.settings/org.eclipse.jdt.apt.core.prefs
JavaAdvansed_07/.settings/org.eclipse.jdt.core.prefs
JavaAdvansed_07/.settings/org.eclipse.m2e.core.prefs
JavaAdvansed_07/.settings/org.eclipse.wst.common.component
JavaAdvansed_07/.settings/org.eclipse.wst.common.project.facet.core.xml
JavaAdvansed_07/.settings/org.eclipse.wst.jsdt.ui.superType.container
JavaAdvansed_07/.settings/org.eclipse.wst.jsdt.ui.superType.name
JavaAdvansed_07/.settings/org.eclipse.wst.validation.prefs
JavaAdvansed_07/target/JavaAdvansed_07.war
JavaAdvansed_07/target/classes/magazine_shop.sql
JavaAdvansed_07/target/classes/ua/lviv/lgs/application/Application.class
JavaAdvansed_07/target/classes/ua/lviv/lgs/dao/MagazineDao.class
JavaAdvansed_07/target/classes/ua/lviv/lgs/dao/SubscribeDao.class
JavaAdvansed_07/target/classes/ua/lviv/lgs/dao/UserDao.class
JavaAdvansed_07/target/classes/ua/lviv/lgs/dao/impl/MagazineDaoImpl.class
JavaAdvansed_07/target/classes/ua/lviv/lgs/dao/impl/SubscribeDaoImpl.class
JavaAdvansed_07/target/classes/ua/lviv/lgs/dao/impl/UserDaoImpl.class
JavaAdvansed_07/target/classes/ua/lviv/lgs/domain/Magazine.class
JavaAdvansed_07/target/classes/ua/lviv/lgs/domain/Subscribe.class
JavaAdvansed_07/target/classes/ua/lviv/lgs/domain/User.class
JavaAdvansed_07/target/classes/ua/lviv/lgs/domain/UserRole.class
JavaAdvansed_07/target/classes/ua/lviv/lgs/dto/UserLogin.class
JavaAdvansed_07/target/classes/ua/lviv/lgs/service/MagazineService.class
JavaAdvansed_07/target/classes/ua/lviv/lgs/service/SubscribeService.class
JavaAdvansed_07/target/classes/ua/lviv/lgs/service/UserService.class
JavaAdvansed_07/target/classes/ua/lviv/lgs/service/impl/MagazineServiceImpl.class
JavaAdvansed_07/target/classes/ua/lviv/lgs/service/impl/SubscribeServiceImpl.class
JavaAdvansed_07/target/classes/ua/lviv/lgs/service/impl/UserServiceImpl.class
JavaAdvansed_07/target/classes/ua/lviv/lgs/servlet/LoginServlet.class
JavaAdvansed_07/target/classes/ua/lviv/lgs/servlet/RegistrationServlet.class
JavaAdvansed_07/target/classes/ua/lviv/lgs/shared/AbstractCRUD.class
JavaAdvansed_07/target/classes/ua/lviv/lgs/utils/ConnectionUtils.class
JavaAdvansed_07/target/JavaAdvansed_07/cabinet.jsp
JavaAdvansed_07/target/JavaAdvansed_07/footer.jsp
JavaAdvansed_07/target/JavaAdvansed_07/header.jsp
JavaAdvansed_07/target/JavaAdvansed_07/index.jsp
JavaAdvansed_07/target/JavaAdvansed_07/css/login.css
JavaAdvansed_07/target/JavaAdvansed_07/js/login.js
JavaAdvansed_07/target/JavaAdvansed_07/js/login1.js
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/web.xml
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/magazine_shop.sql
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/dto/UserLogin.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/ua/lviv/lgs/application/Application.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/ua/lviv/lgs/dao/MagazineDao.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/ua/lviv/lgs/dao/SubscribeDao.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/ua/lviv/lgs/dao/UserDao.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/ua/lviv/lgs/dao/impl/MagazineDaoImpl.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/ua/lviv/lgs/dao/impl/SubscribeDaoImpl.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/ua/lviv/lgs/dao/impl/UserDaoImpl.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/ua/lviv/lgs/domain/Magazine.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/ua/lviv/lgs/domain/Subscribe.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/ua/lviv/lgs/domain/User.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/ua/lviv/lgs/domain/UserRole.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/ua/lviv/lgs/service/MagazineService.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/ua/lviv/lgs/service/SubscribeService.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/ua/lviv/lgs/service/UserService.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/ua/lviv/lgs/service/impl/MagazineServiceImpl.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/ua/lviv/lgs/service/impl/SubscribeServiceImpl.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/ua/lviv/lgs/service/impl/UserServiceImpl.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/ua/lviv/lgs/servlet/LoginServlet.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/ua/lviv/lgs/servlet/RegistrationServlet.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/ua/lviv/lgs/shared/AbstractCRUD.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/classes/ua/lviv/lgs/utils/ConnectionUtils.class
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/lib/gson-2.8.5.jar
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/lib/jstl-1.2.jar
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/lib/log4j-1.2.17.jar
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/lib/mysql-connector-java-8.0.13.jar
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/lib/protobuf-java-3.6.1.jar
JavaAdvansed_07/target/JavaAdvansed_07/WEB-INF/lib/standard-1.1.2.jar
JavaAdvansed_07/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
JavaAdvansed_07/target/m2e-wtp/web-resources/META-INF/maven/JavaAdvansed_07/JavaAdvansed_07/pom.properties
JavaAdvansed_07/target/m2e-wtp/web-resources/META-INF/maven/JavaAdvansed_07/JavaAdvansed_07/pom.xml
JavaAdvansed_07/target/maven-archiver/pom.properties
JavaAdvansed_07/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
JavaAdvansed_07/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
JavaAdvansed_07/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
